<main id="maincontent">
  <article class="mainarticle">
    <h1>A fantastic Engaging headline goes here</h1>
    <div class="byline">
      <address class="author">
        <a rel="author" href="#">
          <div class="tint"><%= image_tag 'profileimage.jpeg' %></div> <span class="name">Anne Maria</span></a>
      </address>
      <div class="date">
            on <time pubdate datetime="2014-10-07" title="Oct. 7th 9:22pm">Monday Oct. 7th 9:22pm</time></div>
    </div><!-- End of byline -->
    <section class="articlecontent">
      <p>Cillum vegan mustache cray, Wes Anderson Kickstarter sunt. Church-key aesthetic ut fashion axe, cillum culpa VHS. Ea freegan cardigan, bespoke Brooklyn vero vinyl PBR reprehenderit actually eiusmod exercitation aesthetic laboris. Dolore Etsy stumptown, magna cred officia 3 wolf moon.</p>

<p>Next level occupy polaroid veniam roof party, American Apparel typewriter Pinterest shabby chic disrupt High Life. Fap cillum four loko, American Apparel Schlitz voluptate aliqua DIY Echo Park veniam nostrud.</p>

  <blockquote>woah, that's radical!</blockquote>

<p>Fugiat messenger bag post-ironic put a bird on it, tousled banjo ethical occupy umami mlkshk meggings. 3 wolf moon nostrud dolore, messenger bag exercitation dolor jean shorts pariatur aliquip Banksy fap. Deep v bitters Thundercats, paleo squid ad butcher dolore fap accusamus gluten-free.Stumptown chillwave fixie irure PBR, culpa before they sold out church-key Williamsburg delectus Echo Park leggings. Blog chia incididunt lo-fi tempor elit, seitan literally proident 3 wolf moon nostrud dolore, messenger bag exercitation dolor jean shorts pariatur aliquip Banksy.</p>

<p>Wolf incididunt heirloom, chambray reprehenderit do in slow-carb Godard duis Blue Bottle quis post-ironic. Deep v bitters Thundercats, paleo squid ad butcher dolore fap accusamus gluten-free.Stumptown chillwave.</p>
    </section>

    <section class="commentsshare">
        <ul class="readcomments">
          <li><%= image_tag 'comments.png' %></li>
          <li><p>Read Comments</p></li>
        </ul>

          <ul class="readlater">
            <li><%= image_tag 'later.png' %></li>
            <li><p>Read Later</p></li>
          </ul>

          <ul class="sharelater">
            <li><%= image_tag 'share.png' %></li>
            <li><p>Share This Post</p></li>
          </ul>
    </section>
</article>

<%= render 'aside' %>

</main>
