<footer class="mainfooter">
<header><h1>Most Popular Posts</h1></header>
<section class="footer4imageslink">
    <%= link_to image_tag('http://lorempixel.com/324/332/sports/4'), home_path, :class => 'tint325x332 footerimg1 img-responsive' %>
    <%= link_to image_tag('http://lorempixel.com/324/332/sports/5'), home_path, :class => 'tint325x332 footerimg2 img-responsive' %>
    <%= link_to image_tag('http://lorempixel.com/324/332/sports/6'), home_path, :class => 'tint325x332 footerimg3 img-responsive' %>
    <%= link_to image_tag('http://lorempixel.com/324/332/sports/7'), home_path, :class => 'tint325x332 footerimg4 img-responsive' %>
</section>
<div class="footeroffooter">
  <section class="brandcopyright">
    <%= image_tag 'theironyard.png', :class => 'ironyardlogo' %>

    <small class="copyright">The Ironyard Copyright 2013. All Rights Reserved</small>
  </section>
  <nav class="footernav">
    <ul>
      <li><a href="#">Nav Item 1</a>&nbsp;|</li>
      <li><a href="#">Nav Item 2</a>&nbsp;|</li>
      <li><a href="#">Nav Item 3</a>&nbsp;|</li>
      <li><a href="#">Nav Item 5</a></li>
    </ul>
  </nav>
</div>
</footer>
