<footer class="mainfooter">
<header><h1>Most Popular Posts</h1></header>
<section class="footer4imageslink">
    <%= link_to image_tag('http://lorempixel.com/324/332/sports/4'), '/articles/06', :class => 'tint325x332 footerimg1 img-responsive' %>
    <%= link_to image_tag('http://lorempixel.com/324/332/sports/5'), '/articles/07', :class => 'tint325x332 footerimg2 img-responsive' %>
    <%= link_to image_tag('http://lorempixel.com/324/332/sports/6'), '/articles/08', :class => 'tint325x332 footerimg3 img-responsive' %>
    <%= link_to image_tag('http://lorempixel.com/324/332/sports/7'), '/articles/09', :class => 'tint325x332 footerimg4 img-responsive' %>
</section>
<div class="footeroffooter">
  <section class="brandcopyright">
    <%= link_to image_tag('theironyard.png'), 'http://theironyard.com', :class => 'ironyardlogo' %>

    <small class="copyright">The Ironyard Copyright 2013. All Rights Reserved</small>
  </section>
  <nav class="footernav">
    <ul>

      <li><%= link_to 'Nav Item 1', '#' %>&nbsp;|</li>
      <li><%= link_to 'Nav Item 2', '#' %>&nbsp;|</li>
      <li><%= link_to 'Nav Item 3', '#' %>&nbsp;|</li>
      <li><%= link_to 'Nav Item 5', '#' %></li>
    </ul>
  </nav>
</div>
</footer>
