<div class="herotint">
	<div class="hero">
		<div class="hero-inner">
			<section>
				<header><p><%= link_to image_tag('logo.png'), '/' %></p><p class = "blog"><%= link_to 'Surf & Paddle Co. Blog', '/' %></p></header>
				<nav>
					<ul>
						<li><%= link_to 'about', '/' %></li>
						<li><%= link_to 'search', '/' %></li>
						<li><%= link_to image_tag('search.png'), '/' %></li>
					</ul>
				</nav>
			</section>
			<h1>surf & paddle Co.</h1>
			<h2>An Ironyard Academy Project Est. Fall 2013</h2>
			<tag
		</div>
	</div>
